@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');



.section{
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
}
.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.cards .new-arrival{
    width: 100%;
    margin-top: 20px;
}
.cards .new-arrival h1{
    text-align: center;
    font-size: 50px;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.cards .new-arrival h1:after{
    content: "";
    height: 5px;
    width: 480px;
    background-color: #222;
    border-radius: 5px;
    display: block;
    margin: auto;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 4px rgb(0,0,0,25%);
    width: 325px;
    text-align: center;
    margin: 25px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
}
.image-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.description{
    text-align: center;
    margin-top: 20px;
}
.description h1{
    font-size: 20px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 2px;
    margin-top: 10px;

}
.description p{
    font-size: 17px;
    letter-spacing: 1.5px;
    margin-top: 10px;
}
.description span{
    margin-left: 8px;
    color: mediumblue;
}
.description del{
    margin-left: 7px;
    font-size: 15px;
    color: #f2533a;
}

.button-group{
    margin-top: 30px;
}
.button-group .buycard{
    background-color: #1976d2;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
}

.button-group .buycard:hover{
    background-color: #0b348d;
    transition: 0.6s ease;
}
.button-group .cart{
    background-color: #f2533a;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff;
}
.button-group .cart:hover{
    background-color: #222;
    transition: 0.6s ease;
}
.star-icons{
    margin-top: 20px;
    margin-bottom: 10px;
}
.star-icons  a{
    color: #db8b;
    padding: 0px 3px;
    font-size: 18px;
}

.input-filter{
    width: 100%;
    margin-top: 20px;
    margin-left: 80%;
}
.filter{
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
}



.pagination{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
  }
  
  .pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
  }
  
  .pagination li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
  }
  
  .previous-page, .next-page{
    background: #0AB1CE;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .previous-page:hover{
    transform: translateX(-5px);
  }
  
  .next-page:hover{
    transform: translateX(5px);
  }
  
  .current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .active{
    background: #0AB1CE;
  }
  
  .disable{
    background: #ccc;
  }
        