{% extends  './BaseProfil.html' %}
{% block content %}
{% load static %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{%   static  'css/profil.css'  %}">

<body bgcolor="white">
    <section class="about-me">
        <form name="f" method="POST">
            {% csrf_token %}

        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h1>{{user.username}} </h1>
                    <p class="small text-uppercase"> Profil Sportif(ve) </p>
                </div>
            </div>
            <div class="row">
                <div class="about-content">
                <div class="row">
                    <div class="img">
                        <img src="{% static 'images/prof.jpg' %}" alt="about-me"/>
                    </div>
                <div class="text">		
                    <div class="info">
                        <div class="liste">
                            <p>
                                <label>Nom :</label>
                                <input type="text" name="fname" value="{{user.first_name}}"></input>
                               </p>
                            
                            
                        </div>
                        
                        <div class="liste">
                            <p>
                            <label>Prénom :</label>
                            <input type="text" name="lname" value="{{user.last_name}}"></input>

                            </p>
                        </div>
                        <div class="liste">	
                            <p>
                                <label>Email :</label>
                                <input type="text" name="email" value="{{user.email}}"></input>
    
                                </p>
                            
                        </div>	
                        <div class="liste">	
                            <p>
                            <label>Télephone :</label>
                            <input type="text" name="phone" value="{{request.user.userinfo.phone}}"></input>
                            </p>
                            
                        </div>
                        <div class="liste">
                            <p>
                                <label>Adresse :</label>
                                <input type="text" name="adress" value="{{request.user.userinfo.address}}"></input>
                                </p>
                                
                        </div>
                        <br/><br/><br/><br/>
                        <div>
                         <BUTTON type="submit" name="Modifier" class="btn-modifier">Enregistrer </BUTTON>
                         <br>
                         <a href=""><BUTTON type="reset" name="Modifier" class="btn-modifier" style="background-color: red;padding: 10px 40px; margin-top: 15px;" >Annuler</BUTTON></a>
                        </div>
                    </div>
                    
                    
                    
                    
                    
                </div>
                </div>	
            </div>
        </div>
    
                    </div>
                    </section>	  
  

      


    {%  endblock content  %}