{% extends  './BaseEntr.html' %}
{% load embed_video_tags %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%   static  'css/buttoncss.css'  %}">
<link rel="stylesheet" href="{%   static  'css/style2.css'  %}">


<body bgcolor="white">
   
  {% for v in vid %}
  {% if v.Type == "dorseau" %}
  {% if v.id|divisibleby:2 %}
  <section style="margin-top: 90px;" >
    
    
    <div class="about-container">
      <div style="margin-left: 9px;" class="row">
        <div  class="imgsize"style="margin-top: -58px;" >
          {% video v.Url 'medium' %}
        </div>
        <div  class="txtbehindimg" style="margin-top: -104px;margin-left: 447px;" 
       >
       <h2 style="margin: 42px;
    margin-left: -378px;color:teal">{{ v.Title }}</h2>
<p style="font-size: 10px;
font-family: MaisonNeue-Light;
font-weight: normal;
line-height: 10px;
margin-bottom: 8px;
letter-spacing: 1.6px;
text-transform: uppercase;margin-left: -335px;"> Elaboré par : </p>
         <br/>
          <h6 style="    font-family: Orbitron-Medium;
          font-size: 28px;
          margin-top: -7px;
line-height: 28px;
letter-spacing: 2.2px;
margin-bottom: 30px;margin-left: -327px; color:mediumblue">{{ v.Name_Ent_Med }} <br/></h6>
<p style="font-size: 10px;
font-family: MaisonNeue-Light;
font-weight: normal;
line-height: 10px;
margin-bottom: 8px;
letter-spacing: 1.6px;
text-transform: uppercase;margin-left: -334px;"> Description : </p><br/>
          <p style="font-size: 12px;
          font-family: MaisonNeue-Book;
          font-weight: normal;
          line-height: 20px;
          letter-spacing: 0.2px;
          margin-left: -328px;
          margin-top: -15px;">{{ v.Description}}</p>
        
        
    
    
    </div>
      </div>
  
    </div>
  
  
</section> 

{% endif %}
{% if not v.id|divisibleby:2 %}
<section style="margin-top: -48px;" >
    
  
  <div class="about-container">
    <div style="margin-left: 10px;" class="row">
      
      <div  class="txtbehindimg" style="margin-top: -52px;margin-left: 187px;" 
     >
     <h2 style="margin: 60px;
  margin-left: -140px;color:teal">{{ v.Title }}</h2>
<p style="font-size: 10px;
font-family: MaisonNeue-Light;
font-weight: normal;
line-height: 10px;
margin-bottom: 8px;
letter-spacing: 1.6px;margin-left: -133px;
text-transform: uppercase;"> Elaboré par : </p>
       <br/>
        <h6 style="    font-family: Orbitron-Medium;
        font-size: 28px;
        margin-top: -7px;
line-height: 28px;
letter-spacing: 2.2px;margin-left: -131px;
margin-bottom: 30px; color:mediumblue">{{ v.Name_Ent_Med }} <br/></h6>


<p style="font-size: 10px;
font-family: MaisonNeue-Light;
font-weight: normal;
line-height: 10px;
margin-bottom: 8px;
letter-spacing: 1.6px;margin-left: -133px;
text-transform: uppercase;"> Description : </p><br/>
        <p style="font-size: 12px;
        font-family: MaisonNeue-Book;
        font-weight: normal;
        line-height: 20px;
        letter-spacing: 0.2px;
        width:350px;
        margin-left: -131px;
        margin-top: -15px;">{{ v.Description}}</p>
      
      
  
  
  </div>
 
  <div  class="imgsize" style="margin-top: -3px;margin-left: -144px;" >
    {% video v.Url 'medium' %}
  </div>
    </div>

  </div>


</section> 
{% endif %}
{% endif %}
{% endfor %}
   





      


    {%  endblock content  %}